html {
	background-color: #008080;
	max-width: 540px;
	margin: auto;
}

h1 {
	font-size: 24px;
}

button {
	touch-action: manipulation;
	margin-right: 4px;
}

.window {
	margin-bottom: 8px;
}

.primeColor {
	color: blue;
}

.tenColor {
	color: red;
}