html {
	background-color: #008080;
	max-width: 540px;
	margin: auto;
}

* {
	touch-action: manipulation !important;
}

.titleContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}

h1 {
	font-size: 20px;
	font-family: "Pixelated MS Sans Serif", Arial;
	font-weight: 400;
	color: #000080;
}

button {
	margin-right: 4px;
}

.window {
	margin-bottom: 8px;
}

.primeColor {
	color: blue;
}

.tenColor {
	color: red;
}